/* body{
    background: linear-gradient(135eg,#1e3c72,#2a5298);
    background-color: #e2e8f0;
    font-family: 'Segeo UI',Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */
.page{
    text-align: center;
    color:#0369a1;
    margin-top: 20px 0;
    width: 100%;
}
form{
    max-width: 900px;
    width: 95%;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #ffd700;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
label{
    display: block;
    margin-bottom: 5px;
    color: #1e3c72;
    font-weight: bold;
}
fieldset{
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
legend{
    font-weight: bold;
    color:#1e3c72 ;
    background: #ffd700;
    border-radius: 2px;
    padding: 5px 10px;
}
input,textarea,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.rating{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}
.star{
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}
.star:hover,
.star:hover ~ .star {
  color: #ffd700;
  transform: scale(1.2);
}

#submit,#reset{
    width: 120px; /* smaller width */
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}
#submit{
    background: #1e3c72;
    color: white;
    border-radius: 4px;
}
#submit:hover{
    background: #ffd700;
    color: #1e3c72;
}
#reset{
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
#reset:hover{
    background: #ff0b0b;
}
